<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Porject list</title>
</head>
<body>

{% for project in object_list %}
    <h2>{{ project.name }}</h2>
<p>{{ project.description }}</p>
<a href="{% url 'project_edit' project.pk %}">Edit</a>
{% endfor %}
<br />
</body>
</html>